{% extends 'layout.html' %}

{% block content %}
  <h1>Super Hero Ranking</h1>

  {% for hero in object_list %}
    <div class="all">
      <h2>{{hero.name}}</h2>
      <img src='{{hero.image.url}}' alt="image"><br>
      <div class="col-6">
        <h3>Description: {{hero.description}}</h3>
        <h3>Power type: {{hero.power_type}}</h3>
        <h3>Strength: {{hero.strength}}</h3>
        <h3>Durability: {{hero.durability}}</h3>
      </div>
      <div class="col-6">
        <h3>Intelligence: {{hero.intelligence}}</h3>
        <h3>Fighting ability: {{hero.fighting_ability}}</h3>
        <h3>Tech: {{hero.tech}}</h3>
        <h3>Sanity: {{hero.sanity}}</h3>        
        <h3>X-Factor: {{hero.xFactor}}</h3>
      </div>
    </div>
    
  {% endfor %}
{% endblock content %}